<% provide(:page_title, 'Blog') %>
<% provide(:blog_active, 'active') %>


<div class="row">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<div class="apple_pagination">
	<%= will_paginate @posts, container: false %>
</div>
