
<footer class="footer">
<hr>
<div>More about me: 
<a class="footer-links" href="http://lawrencemcdaniel.com" target="_blank">lawrencemcdaniel.com</a> | 
<a class="footer-links" href="https://mx.linkedin.com/in/lawrencemcdaniel" target="_blank">LinkedIn</a> | 
<a class="footer-links" href="https://www.facebook.com/lawrence.p.mcdaniel" target="_blank">Facebook</a> | 
<a class="footer-links" href="http://edmex.org" target="_blank">edMex.org</a> | 
<a class="footer-links" href="http://m-arca.org" target="_blank">M-Arca Foundation</a> | 
<a class="footer-links" href="http://www.startupmexico.com" target="_blank">Startup Mexico</a> | 
<a class="footer-links" href="https://www.upwork.com/freelancers/~01e2b72f91af0ebbd1" target="_blank">Upwork</a> | 
<a class="footer-links" href="https://www.zintro.com/profile/lawrence-mcdaniel1" target="_blank">Zintro</a> | 
<a class="footer-links" href="https://www.expertconnect.net/consultant/MyProfile/256640" target="_blank">ExpertConnect</a> | 
<a class="footer-links" href="https://github.com/lpm0073" target="_blank">GitHub</a> | 
<a class="footer-links" href="https://angel.co/lpm0073-gmail-com" target="_blank">Angel Network</a> 
<p style="margin-top: 20px;">Copyright 2017. All Rights Reserved.</p>
</div>
</footer>